<!-----------------------------Head----------------------------->
<meta charset="utf-8" />
<meta name="author" content="www.bmchs.org" />
<meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
<title><%= app_title %></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link type="text/css" rel="stylesheet" href="<%= TemplateTags.getThemePath() %>/css/demo.css" media="all"/>
<link type="text/css" rel="stylesheet" href="<%= TemplateTags.getThemePath() %>/css/jquery.mmenu.all.css" media="all"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

		<style type="text/css">
			.mm-menu {
				background: #2b2b2b !important;
			}
			.mm-navbar {
				text-align: center;
				position: relative;
				border-bottom: none;
			}
			.mm-navbar:before {
				content: "";
				display: inline-block;
				vertical-align: middle;
				height: 100%;
				width: 1px;
			}
			.mm-navbar > * {
				display: inline-block;
				vertical-align: middle;
			}
			.mm-navbar img {
				width: 60px;
				height: 60px;
				padding: 10px;
				margin: 0 10px;
			}
			.mm-navbar a {
				border: 1px solid rgba(255, 255, 255, 0.6);
				border-radius: 40px;
				color: rgba(255, 255, 255, 0.6) !important;
				font-size: 16px !important;
				line-height: 40px;
				width: 40px;
				height: 40px;
				padding: 0;
			}
			.mm-navbar a:hover {
				border-color: #fff;
				color: #fff !important;
			}
			.mm-listview {
				text-transform: uppercase;
				font-size: 12px;
			}
			.mm-listview li:last-child:after {
				content: none;
				display: none;
			}
			.mm-listview li:after {
				left: 20px !important;
				right: 20px !important;
			}
			.mm-listview a {
				text-align: center;
				padding: 30px 0 !important;
			}
			.mm-listview a,
			.mm-listview .fa {
				color: rgba(255, 255, 255, 0.6);
			}
			.mm-listview a:hover,
			.mm-listview a:hover .fa {
				color: #fff;
			}
			.mm-listview .fa {
				position: absolute;
				left: 20px;
			}
		</style>
